uncertainties==3.1.7
scikit-learn==1.0.2
matplotlib==3.7.4
jupysql==0.10.10
sqlalchemy_exasol==4.6.3
stopwatch.py==2.0.1
boto3==1.26.163
exasol-notebook-connector @ git+https://github.com/exasol/notebook-connector.git@main
pickleshare==0.7.5 # See https://github.com/exasol/ai-lab/issues/291 for details.
exasol-script-languages-container-tool==0.19.0
GitPython>=2.1.0
ipyfilechooser==0.6.0