scikit-learn==1.6.1 # required for notebook sklearn
matplotlib==3.10.0 # required for notebook sklearn
jupysql==0.10.17 # required for multiple notebooks
stopwatch.py>=2.0.1 # also required by ITDE
exasol-notebook-connector==0.4.2
pickleshare==0.7.5 # See https://github.com/exasol/ai-lab/issues/291 for details.
ipyfilechooser==0.6.0 # required for SLC notebooks
ipywidgets==8.1.5 # enable interactive Javascript widgets in the notebooks
