[tool.poetry]
name = "exasol-script-languages-developer-sandbox"
version = "0.1.0"
description = "Manages script-languages developer virtual machines."

license = "MIT"

authors = [
    "Thomas Uebensee <ext.thomas.uebensee@exasol.com>"
]

[tool.poetry.dependencies]
python = ">=3.8.0,<4.0"
click = "^8.1.3"
boto3 = "^1.22.0"
jinja2 = ">=3.1.0"
ansible-runner = "^2.2.1"
ansible = "^6.1.0"
importlib_resources = ">=5.4.0"
exasol_script_languages_release = { git = "https://github.com/exasol/script-languages-release.git", tag = "5.0.0"}
rich = "^12.5.1"
pandas = "^1.4.0"


[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.dev-dependencies]
toml = ">=0.10.2"
pytest = "^7.1.1"
pytest-mock = "^3.7.0"
cfn-lint = "^0.65.1"
gitpython = ">=2.1.0"
localstack = "^0.14.0"
docker = {version = ">=5.0.0", markers = "sys_platform != 'win32'"}
fabric = "^2.7.1"

[tool.pytest.ini_options]
minversion = "6.0"

testpaths = [
    "test"
]

