name: Check Hyperlinks

on:
  pull_request:

jobs:
  check-links:
    name: Find Broken Links in Documentation and Jupyter Notebooks
    runs-on: ubuntu-24.04
    steps:

     - uses: actions/checkout@v5
       with:
         fetch-depth: 0

     - name: Setup Python & Poetry Environment
       uses: exasol/python-toolbox/.github/actions/python-environment@v1
       with:
         python-version: "3.10"

     - name: Check Hyperlinks in Documentation
       # Ignored URLs are in file .lycheeignore
       id: lychee
       uses: lycheeverse/lychee-action@v2.0.2
       with:
         fail: true
         args: --exclude localhost --verbose --no-progress 'doc/**/*.md' 'README.md'

     - name: Check Hyperlinks in Jupyter Notebooks
       run: >
         poetry run -- pytest --check-links
         --check-links-ignore "https://www.transtats.bts.gov/.*"
         --check-links-ignore "https://jupysql.ploomber.io/.*"
         exasol/ds/sandbox/runtime/ansible/roles/jupyter/files/notebook/
