name: Release Droid - Upload GitHub Release Assets

on:
  workflow_dispatch:
    inputs:
      upload_url:
        description: 'Upload URL'
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  check-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: "3.12"
      - name: Build Release
        run: poetry run -- python3 -u "./scripts/build/check_release.py"

  upload:
    needs: check-release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: "3.12"

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_CI_ROLE }}
          role-session-name: github-actions-ai-lab
          aws-region: ${{ vars.AWS_CI_REGION }}

      - name: Build Release
        run: poetry run -- python3 -m exasol.ds.sandbox.main start-release-build --upload-url "${{ github.event.inputs.upload_url }}" --branch "$GITHUB_REF"
        env:
          AWS_DEFAULT_REGION: ${{ vars.AWS_CI_REGION }}
          GITHUB_TOKEN: ${{ github.token }}
