name: Run a test for the AWS release build + asset upload

on:
  workflow_dispatch:
    inputs:
      release_title:
        description: 'The release title for the new release draft!'
        required: true

permissions:
  id-token: write
  contents: read

jobs:

  build_and_upload:
    environment: AWS_RELEASE
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5

    - name: Setup Python & Poetry Environment
      uses: exasol/python-toolbox/.github/actions/python-environment@v1
      with:
        python-version: "3.10"

    - uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ vars.AWS_CI_ROLE }}
        role-session-name: github-actions-ai-lab
        aws-region: ${{ vars.AWS_CI_REGION }}

    - name: Start test release
      run: poetry run -- python3 -m exasol.ds.sandbox.main start-test-release-build --release-title  "${{ github.event.inputs.release_title }}" --branch "$GITHUB_REF"
      env: # Set the secret as an env variable
          AWS_DEFAULT_REGION: ${{ vars.AWS_CI_REGION }}
          GITHUB_TOKEN: ${{ github.token }}
