name: Run a test for the AWS release build + asset upload

on:
  workflow_dispatch:
    inputs:
      release_title:
        description: 'The release title for the new release draft!'
        required: true

jobs:

  build_and_upload:
    environment: AWS_CI_TESTS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Init submodules
      run: git submodule update --init --recursive
    - name: Setup Python & Poetry Environment
      uses: ./.github/actions/prepare_poetry_env

    - name: Start test release
      run: poetry run python3 -m exasol_script_languages_developer_sandbox.main start-test-release-build --release-title  "${{ github.event.inputs.release_title }}" --branch "$GITHUB_REF"
      env: # Set the secret as an env variable
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
        GITHUB_TOKEN: ${{ github.token }}